/* @import "../vars.css"; */

.header {
  padding-block: 24px;
  padding-inline: 80px;

  margin-bottom: 48px;
}

.container {
  max-width: 1920px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header div a {
  font: var(--font-24-ExtraBold);
  text-decoration: none;
}

.header div p {
  font: var(--font-16-SemiBold);
}

.container > div:nth-child(2) {
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    padding-inline: 16px;
  }

  .header div a {
    font: var(--font-14-ExtraBold);
    line-height: 20px;
  }

  .header div p {
    font: var(--font-12-SemiBold);
  }
}
